<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

	<!-- the targets to write to -->
	<targets>
		<!-- File Target for all log messages with basic details -->
		<!--<target xsi:type="File" name="allfile" fileName="TxtLog\${shortdate}.log"
				layout="${event-properties:item=EventId_Id:whenEmpty=0}-${logger}-${message} ${exception:format=tostring}" />

		-->
		<!-- File Target for own log messages with extra web details using some ASP.NET core renderers -->
		<!--
		<target xsi:type="File" name="ownFile-webApi" fileName="TxtLog\${shortdate}.log"
				layout="$22{longdate}-${event-properties:item=EventId_Id:whenEmpty=0}-${level:uppercase=true}-${logger}-${message} ${exception:format=tostring}|url: ${aspnet-request-url}-action: ${aspnet-mvc-action}-" />

		-->
		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<!--
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />-->

		<target name="file" type="File" fileName="${basedir}/logs/Error/${shortdate}.log"
		 	layout="
						  ${newline}【日志级别】Info
						  ${newline}【记录时间】${longdate}
						  ${newline}【信息描述】${message}
						  ${newline}【信息详情】${exception}
						  ${newline} 
						  ***********************************************************************************************"
				/>

		<target name="fileInfo" type="File" fileName="${basedir}/logs/Info/${shortdate}.log"
					layout="
						  ${newline}【日志级别】Info
						  ${newline}【记录时间】${longdate}
						  ${newline}【信息描述】${message}
						  ${newline}【信息详情】${exception}
						  ${newline} 
						  ***********************************************************************************************"
				/>

		<target name="fileWarning" type="File" fileName="${basedir}/logs/Warning/${shortdate}.log"
				layout="
						  ${newline}【日志级别】Warning
						  ${newline}【记录时间】${longdate}
						  ${newline}【信息描述】${message}
						  ${newline}【信息详情】${exception}
						  ${newline} 
						  ***********************************************************************************************"
				/>


		<target name="fileDebug" type="File" fileName="${basedir}/logs/Debug/${shortdate}.log"
				layout="
						  ${newline}【日志级别】Debug
						  ${newline}【记录时间】${longdate}
						  ${newline}【错误描述】${message}
						  ${newline}【错误详情】${exception}
						  ${newline} 
						  ***********************************************************************************************"
				/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-_5._3_日志系统_NLOG.txtLog-->
		<!--<logger name="*" writeTo="allfile" />-->

		<logger name="*" minLevel="Error" writeTo="file" />
		<logger name="*" minLevel="Debug" writeTo="fileDebug" />
		<logger name="*" minLevel="Info" writeTo="fileInfo" />
		<logger name="*" minLevel="Warning" writeTo="fileWarning" />

	</rules>
</nlog>